
body {
  padding: 0;
  margin: 0 auto;
}

header {
  background-color: gray;
  width 100%;
  height: 85px;
}

.title {
  padding: 10px;
}

h1  {
  text-align: center;
  text-shadow: 1px 1px 1px #ff2d95;
}

/*#player1{
  float: left;
}

#player2{
  float: right;
  display: relative;
}*/

.memory_board {
  background-color: transparent;
  border: 30px solid black;
  width: 315px;
  height: 260px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

button {
  height: 85px;
  width: 75px;
  border: 1px solid-black;

}

.square {
  display: inline-block;
  background-color: purple;
  color: white;
}

.chinesefortune {
  background-image: url("../images/chinesefortune.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cloverfortune {
  background-image: url("../images/clover.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.catfortune {
  background-image: url("../images/fortunecat.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.horseshoefortune {
  background-image: url("../images/horseshoefortune.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.lovefortune {
  background-image: url("../images/lovefortune.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.goldpotfortune {
  background-image: url("../images/pot-o-gold.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.fortune-header {
  background-color: gray;
  margin-bottom: 0 auto;
}

h2 {
  color: white;
  text-shadow: 1px 1px 1px #ff2d95;
  margin-bottom: 0px;
/*  margin-right: 10px;*/
}

#left {
  text-align: left;
  margin-left: 10px;
  margin-top: 0px;
}

#center {
  text-align: center;
}

#right {
  text-align: right;
  margin-right: 10px;
}

.fortune-list {
  border: 30px solid purple;
  padding: 50px;
  margin: 0 auto;
}

li {
  margin: 5px
  text-align: left;
  font-style: italic;
}

footer {
  background-color: gray;
  width 100%;
  height: 85px;
  text-decoration: underline;
  margin-bottom: 0 auto;
}

@media (max-width: 500px) {
  body {
    background: red;
  }

  li {
    color: white;
    /*display: block;*/
    padding: 5px;
  }
}

